<template>
    <div class="container-fluid p-5" id="experience">
        <h1 class="mb-4">EXPÉRIENCES PROFESSIONNELLES</h1>

        <ListItem v-for="experience in experiences" :key="experience.title"
                  :date="experience.date" :item-title="experience.title" :place="experience.place"
                  :description="experience.description" :image-name="experience.image"/>

    </div>
</template>

<script>
import ListItem from "@/components/body/ListItem";

export default {
    name: "Experience",
    components: {ListItem},
    props: {
        experiences: {
            type: Array,
            required: true,
        }
    },
    data() {
        return {
            publicPath: process.env.BASE_URL,
        };
    }
};
</script>

<style scoped>

</style>