<template>
    <div class="container-fluid p-5" id="education">
        <h1 class="mb-4">FORMATION ET DIPLÔMES</h1>

        <ListItem v-for="education in educations" :key="education.title"
                  :date="education.date" :item-title="education.title" :place="education.place"
                  :description="education.description" :image-name="education.image"/>
    </div>
</template>

<script>
import ListItem from "@/components/body/ListItem";

export default {
    name: "Education",
    components: {ListItem},
    props: {
        educations: {
            type: Array,
            required: true,
        }
    },
    data() {
        return {
            publicPath: process.env.BASE_URL,
        };
    }
};
</script>

<style scoped>

</style>