<template>
    <div class="d-flex">
        <img alt="Photo de profile" class="mr-4 rounded" height="300" id="profilePicture"
             :src="`${publicPath}assets/images/profile_picture.jpg`">
        <div class="flex-fill">
            <h1 class="display-4">{{ name }}</h1>
            <p v-if="title !== undefined" class="lead mb-0">{{ title }}</p>
            <hr class="my-4 presentationHide">
            <ul class="presentationHide">
                <li :style="`list-style: url('${publicPath}assets/images/icon/house-door-fill.svg');`">
                    1, Triangle de la Gagnerie, 44340 BOUGUENAIS
                </li>
                <li :style="`list-style: url('${publicPath}assets/images/icon/phone.svg');`">
                    <a>{{ personalInformation.phone }}</a>
                </li>
                <li :style="`list-style: url('${publicPath}assets/images/icon/envelope-fill.svg');`">
                    <a :href="`mailto:${personalInformation.mail}`">{{ personalInformation.mail }}</a>
                </li>
                <li :style="`list-style: url('${publicPath}assets/images/icon/gitlab.svg');`">
                    <a :href="personalInformation.git">{{ personalInformation.git }}</a>
                </li>
                <li :style="`list-style: url('${publicPath}assets/images/icon/person-fill.svg');`">
                    {{ personalInformation.age }} ans
                </li>
                <li v-if="personalInformation.drive"
                    :style="`list-style: url('${publicPath}assets/images/icon/car-solid.svg');`">
                    Permis B (Véhiculé)
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "Header",
    props: {
        name: {
            type: String,
            required: true,
        },
        title: {
            type: String,
        },
        personalInformation: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            publicPath: process.env.BASE_URL,
        };
    }
};
</script>

<style scoped>

</style>