<template>
    <Header id="presentation" class="jumbotron overflow-hidden fixed-top" :name="data.name" :title="data.title"
            :personal-information="data.personalInformation"/>
    <BodyContent :projects="data.projects" :experiences="data.experiences" :educations="data.educations"/>
    <Footer :social="data.social"/>
</template>

<script>
import Header from "@/components/Header";
import BodyContent from "@/components/body/BodyContent";
import Footer from "@/components/footer/Footer";
import dataJSON from "@/assets/data.json";

export default {
    name: "App",
    components: {Footer, BodyContent, Header},
    data() {
        return {data: dataJSON};
    }
};
</script>

<style>

</style>
